@import '../../../../assets/styles/layout.scss';

.welcomeHeading {
    height: 100%;
    @include centeredFlex();
    .logo {
        @include centeredFlex;
        height: 100px;
        width: 100px;
        margin: 10px;
        color: white;
        font-size: 35px;
        background-color: #08192d;
        text-align: center;
    }
    .company {
        @include centeredFlex;
        height: 100px;
        width: auto;
        margin: 10px;
        font-size: 40px;
    }
}
