.welcomeHeading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        height: 100px;
        width: 100px;
        margin: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        font-size: 35px;
        background-color: #08192d;
        text-align: center;
    }
    .company {
        height: 100px;
        width: auto;
        margin: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
}
