.orderpage {
    &-box {
        margin: 0px 0px 32px;
        width: 100%;
        flex-grow: 1;
    }

    &-header {
        padding-left: 24px;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        flex-grow: inherit;
    }
    &-box_white {
        background-color: white;
        border-radius: 15px 10px 0px 0px;
    }
}
