<<<<<<< HEAD
<<<<<<< HEAD
.transactionboard {
    width: 450px;
}
||||||| constructed merge base
.primary {
    margin: 0;
    color: black;
    padding: 0;
    text-transform: none;
}
.primary:hover {
    background-color: transparent;
}
=======
.transactionboard {
    width: 450px;
}
>>>>>>> transaction board done
||||||| 828b530
=======
.transactionboard {
    width: 450px;
}
>>>>>>> 906078db735800d7c24fe84b65cc7545075211d8
