.form {
    display: flex;
    flex-direction: column;
    width: 280px;

    // &_input {
    //     padding: 15px;
    //     margin: 10px 0px;
    //     border-radius: 5px;
    //     border: 1px solid gray;
    // }

    &_sumbitBtn {
        height: 50px;
        padding: 10px;
        border: none;
        background-color: #0f2540;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

label {
    font-size: 12px;
    color: gray;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.sumbitBtn:invalid[focused='true'] {
    border: 1px solid red;
}

.sumbitBtn:invalid[focused='true'] ~ span {
    display: block;
}
