@import '../../assets/styles/variable.scss';

.customerpage {
    &-box {
        display: flex;
        margin: 0px 0px 32px;
        width: 100%;
        justify-content: space-between;
    }
    &-header {
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        padding-left: 24px;
    }
    &-addbtn {
        display: flex;
        width: 20%;
        margin: 0px;
        border: none;
        padding: 8px 50px;
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
    }
    &-addicon {
        font-size: large;
        padding-right: 5px;
    }
}
